<div class="modalheader" id="listview">
	<h1 class="imgtitle">Cat gallery
		<h1>
</div>

<div id="background">
	<div class="container" id="foreground">

		<div id="effectselect">
			<label for="effectselect">Transition animations</label>
			<select name="effectselect" class="form-control" ng-model="effect" ng-change="setEffect(effect)" ng-options="e.className as e.name for e in effects"></select>
		</div>

		<ul class="nav">
			<li ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
				<img ng-src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index); changeView($index)">
			</li>
		</ul>
		<footer>
			<p>&copy; 2014 Matthew Nolan</p>
			<p><a href="https://github.com/matthewnolan/CatGallery" target="_blank">CatCallery on Github</a></p>
		</footer>
	</div>
</div>